h1{
	text-aling: right;
}
fieldset#topo{
	padding: 10px;
    border-color: #cecece;
    margin: 5px;
    width: 900px;
   
    height: 100px;
    border: 2px solid #606060;
    left: 2200x;
    
     
}
fieldset#media{
    border-color: #cecece;
    margin: 2px;
    position: relative;
    width: 900px;
    height: 500px;
    border: 2px solid #606060;
    
 }
 fieldset#principal{
    border-color: #cecece;
    margin: 2px;
    position: relative;
    width: 900px;
    height: 700px;
    border: 2px solid #606060;
    left: 300px;
 }
 fieldset#new{
    border-color: #cecece;
    margin: 2px;
    position: relative;
    width: 900px;
    height: 250px;
    border: 2px solid #606060;
 }
 fieldset#edit{
    border-color: #cecece;
    margin: 2px;
    position: relative;
    width: 900px;
    height: 200px;
    border: 2px solid #606060;
 }
 fieldset#mostrar{
    border-color: #cecece;
    margin: 2px;
    position: relative;
    width: 900px;
    height: 250px;
    border: 2px solid #606060;
 }